.commentBox{
    border: 1px rgb(238, 232, 232) solid;
    border-radius: 15px;
    padding: 15px;

}

.autorProperties{
    line-height: 1;
}

.textArea{
    max-width: 80%;
}

.avatarEntryTwo{
    height: 40px;
}