.mainAside__list_icon{
    height: 20px;
}

.mainAside__small_icon{
    height: 20px;
}

.smallIcon:hover{
    background-color: #e2e3f3;
}

.tag__item{
    background-color: white;
}
.tag_item:hover{
    background-color: #e2e3f3;
}